{
    "plugins": ["prettier"],
    "extends": ["eslint-config-airbnb/base", "prettier"],
    "rules": {
        "prettier/prettier": "error",
        "max-len": [
            "error",
            100,
            4,
            {
                "comments": 120,
                "ignoreUrls": true,
                "ignoreComments": false,
                "ignoreRegExpLiterals": true,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true
            }
        ],
        "class-methods-use-this": "off",
        "camelcase": ["off"],
        "no-use-before-define": [
            "error",
            { "functions": false, "classes": true }
        ]
    }
}
