@import './vars.scss';

.field {
    position: relative;

    & > label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        user-select: none;
        cursor: text;
        left: 15px;
        color: $darkgrey;
        padding: 5px;
        transition: all 150ms ease-out;
    }

    &__dropdown {
        display: none;
        position: absolute;
        z-index: 1;
        width: 100%;
    }

    &__mark {
        min-width: 16px;
        width: 4.44%;
        color: $darkgrey;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        cursor: pointer;
        transition: all 150ms ease-out;
        transform-origin: center center;
    }

    &__input {
        min-height: 54px;
        height: 5.14%;
        text-align: left;
        padding: 0 15px;
        background: transparent;
        width: 100%;
        border: 1px solid $lightgrey;
        border-radius: 8px;
        transition: border-color 150ms ease-out;

        &:focus {
            border-color: $blue;
            border-width: 2px;
            caret-color: $blue;

            & ~ .field__mark {
                color: $blue;
                transform: rotate(180deg) translateY(50%);
            }
            & ~ .field__dropdown {
                display: block;
            }
        }
    }

    &__dirty {
        & > label {
            top: 0;
            left: 10px;
            font-size: 0.77rem;
            background-color: #fff;
        }

        & > .field__input:focus + label {
            color: $blue;
            font-weight: 500;
        }
    }
    &:hover {
        .field__input:not(:focus) {
            border-color: $black;

            & ~ .field__mark {
                color: $black;
            }
        }
    }
}

.submit {
    min-height: 54px;
    height: 5.14%;
    width: 100%;
    padding: 0;
    border: 0;

    background-color: $blue;
    color: $white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;

    display: none;
    &__visible {
        display: block;
    }

    &:hover {
        background-color: mix($black, $blue, 8);
    }
}
