@import './vars.scss';

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    line-height: 1;
}

#app,
#popup {
    width: 100vw;
    height: 100vh;
}

#popup {
    position: fixed;
    top: 0;
    display: none;
}

input {
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.rp {
    overflow: hidden;
    position: relative;

    .ripple {
        position: absolute;
        background: $black;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        animation: rippleEffect 0.7s ease forwards;
        opacity: 0.08;
    }

    &.rps {
        .ripple {
            animation: rippleEffectSmall 0.4s ease forwards;
        }
    }
}

button {
    outline: none;
}

@keyframes rippleEffect {
    0% {
        transform: scale(1);
        opacity: 0.08;
    }
    30% {
        opacity: 0.08;
    }
    100% {
        transform: scale(100);
        opacity: 0;
    }
}

@keyframes rippleEffectSmall {
    0% {
        transform: scale(1);
        opacity: 0.08;
    }
    30% {
        opacity: 0.08;
    }
    100% {
        transform: scale(100);
        opacity: 0;
    }
}
