@import '../vars.scss';

#password-page {
    padding-top: 12.9vh;
    width: 21.43%;
    min-width: 360px;
    margin: auto;
    text-align: center;
}

#monkey {
    width: 37.5%;
    height: auto;
    min-height: 138px;
    margin: auto;
}
