@import './vars.scss';

#sms {
    padding-top: 12.9vh;
    width: 21.43%;
    min-width: 360px;
    margin: auto;
    text-align: center;
}

#monkey {
    width: 37.5%;
    height: auto;
    margin: auto;
}
