$lightblue: #e6ebee;
$blue: #4ea4f6;
$darkblue: #1da1f1;

$red: #e53935;

$lightgreen: #eeffde;
$green: #4dcd5e;
$darkgreen: #50af4f;

$dotgreen: #0ac630;

$lightgrey: #dadce0;
$grey: #c4c9cc;
$darkgrey: #707579;

$light: rgba($darkgrey, 0.08);

$black: #000;
$white: #fff;
